<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="header">
    <h1> Орбиты </h1>
</div>
<div class="search-form">
    <form method="GET" action="" name="search">
        <input type="text" id="orbit_name" name="orbit_name" value="{{ .orbitName }}" placeholder="Введите название">
        <input type="submit" class="button" value="Поиск">
    </form>
</div>
<div class="card_group">
    {{ range .orbits }}
    <div class="card">
        <h5 class="card_title">{{ .Name }}</h5>
        <div class="image-container">
            <!-- <img class="card_image" src="data:image/png;base64, {{ .Image }}" alt="картинка"> !-->
        </div>
        <div class="card_title">
            {{if eq .IsAvailable true}} Доступна {{else}} Недоступна {{end}}
        </div>
        <a class="button" href="orbits/{{ .Name }}">Подробнее</a>
        <form method="POST" action="chStatusOrbit/{{ .Name }}" name="changeOrbitStatus">
            <input type="hidden" name="card_title" id="card_title" value="{{ .Name }}">
            <input type="submit" class="button" value="Изменить статус">
        </form>
    </div>
    {{ end }}
</div>
</body>
</html>
