<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="header">
    <h1> {{ .Title }} </h1>
</div>
<div class="card-sub">
    <div class="card-content-sub">
        <img src="{{ .Image }}" class="card_image-sub">
        <div class="right-content-sub">
            <p><b>Апогей:</b> {{ .Apogee }}</p>
            <p><b>Перигей:</b> {{ .Perigee }}</p>
            <p><b>Наклонение:</b> {{ .Inclination }}</p>
            <p><b> Описание:</b> {{ .Desc }}</p>
        </div>
    </div>
    <a class="button" href="../home">Назад</a>
</div>
</body>
</html>