<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="header">
    <h1> {{ .Name }} </h1>
</div>
<div class="card-sub">
    <div class="card-content-sub">
        <<img class="card_image" src="data:image/png;base64, {{ .Image }}" alt="картинка"> >
        <div class="right-content-sub">
            <p>Статус: {{if eq .IsAvailable true}} Доступна {{else}} Недоступна {{end}}</p>
            <p>Апогей: {{ .Apogee }}</p>
            <p>Перигей: {{ .Perigee }}</p>
            <p>Наклонение: {{ .Inclination }}</p>
            <p>Описание: {{ .Description }}</p>
        </div>
    </div>
    <a class="button" href="/orbits">Назад</a>
</div>
</body>
</html>
