body {
    background-color: #f0f0f0; /* Светло-серый фон */
    font-family: "Century Gothic", sans-serif; /* Шрифт Century Gothic */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем отступы по умолчанию */
}

.header {
    background-color: #001246; /* Цвет фона заголовка (можете изменить на свой) */
    color: white; /* Цвет текста заголовка */
    text-align: center;
    padding: 20px;
}

.card_group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    height: 400px; /* Высота контейнера изображения */
}

.card_image {
    width: 400px;
    height: 300px;
    object-fit: contain;
    max-width: 100%; /* Чтобы изображение не превышало ширину контейнера */
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}


/* Новый стиль для карточки на orbitDetail.html */
.card-sub {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgb(0, 18, 70);
}

/* Стиль для контейнера содержимого карточки */
.card-content-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Изменено на выравнивание влево */
    align-items: flex-start;
}

/* Стиль для изображения */
.card_image-sub {
    width: 400px;
    height: 300px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

/* Стиль для правой части контента (Title и Desc) */
.right-content-sub {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.card_title-sub {
    font-size: 20px;
    margin: 10px 0;
}

/* Увеличьте отступ между Title и Desc */
.right-content-sub p {
    margin-top: 10px;
}


.card_title {
    font-size: 20px;
    margin: 10px 0;
}

.button {
    background-color: #0e3e8d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.button:hover {
    background-color: #001246;
}

/* Стиль для формы поиска */
.search-form {
    text-align: center;
    margin: 20px 0; /* Увеличьте отступы сверху и снизу формы */
}

/* Стиль для поля ввода */
.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px; /* Отступ между полем ввода и кнопкой */
}

/* Стиль для кнопки поиска */
.search-form button[type="submit"] {
    background-color: #0e3e8d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Стиль для кнопки поиска при наведении */
.search-form button[type="submit"]:hover {
    background-color: #001246;
}
